<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_index_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
      	<%= link_to "Project Details", projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">Upload Csv</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      	<% if user_signed_in? %>
		  <li>
  		  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link"  %>
		  </li>
		<% else %>
		  <li>
	   	  <%= link_to 'Login', new_user_session_path, class: "nav-link" %>  
		  </li>
		<% end %>
    </ul> 
  </div>
</nav>